sk-video
torch
torchvision
decord
opencv-python
matplotlib
scipy
numpy
tqdm
timm
einops
werkzeug
flask
av
scikit-image
tensorflow
h5py
torch~=1.13
torchvision
opencv-python
decord
matplotlib
scipy
numpy
tqdm
timm
einops
wandb
scikit-video
thop==0.0.31-2005241907
onnx
